@{
    ViewData["Title"] = "About";

}

<!-- link to CSS file, so DOM knows where to look-->

<link href="~/css/IndexStyleSheet.css" rel="stylesheet" />


<div class="header">
    <h1 style="color:deeppink">About Me</h1>
</div>
<style>
    body {
        background-color: #74afb8;
    }

    p {
        background-color: #93B874;
    }
</style>
<div id="maindiv">
    <p>
        <h5 style="color:deeppink"> <i>Wherever I go, there I am. — Who said that? </i></h5>
        I am Gina Soltis, a Software Programmer. I am a student at Grand Circus and a graduate of Michigan State University.
        I grew up on a farm and moved to the city.
        I've been a newspaper reporter, event planner and benefits administrator; worked at Super Bowls,
        and a FIFA World Cup. I've attempted to grow tomatoes in my backyard to no avail, so am worm-composting
        my food scraps to improve the soil in my tiny corner of this world. I am a screechy Cellist,
        and a plinky piano player. I make darn good sauerkraut (secret is to simmer all day) and a fabulous
        Salmon curry but will survive solely on chips and salsa and grilled cheese (with sweet pickles)
        when I no longer need to keep anyone alive. My two daughters and my snooty dog, Robin, though, are the point of it all.
    </p>
</div>
<h4> <a href="ginasoltis@outlook.com">ginasoltis@outlook.com</a></h4>

