@{
    ViewData["Title"] = "Home Page";
}

<!-- link to CSS file, so DOM knows where to look-->

<link href="~/css/IndexStyleSheet.css" rel="stylesheet" />

<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <style>
        body {
            background-color: #93B874;
        }

        p {
            background-color: #93B874;
        }
    </style>


    <div id="maindiv">
        <p>
            <h1 style="color:darkslateblue">Blogger</h1>
            <h5 style="color:darkslateblue"> <i>Start before you're ready. — Steven Pressfield </i></h5>
            A dead man. The subject of the very first article I was assigned as a new reporter.
            When I say 'new' I mean I didn't have a degree in journalism; I was not trained in journalism; I had never written an article
            for a newspaper before and just to clarify - I did not have experience in the mortuary sciences.
        </p>

        <p>
            I am a developer. Once I was a reporter. This is the reporter story. I moved to a small town in northern Michigan to try a new adventure with no job
            nor prospects, my first day to town I went to
            the local grocery store to pick up a few provisions. The cashier, Russ, noticed the out of town address on my check
            (yes -- a bank check!) and asked what brought me to town. (Russ worked mostly the early
            morning shift stocking shelves at the grocery and as a local pastor in a modest single-story, vinyl-sided, house-turned-church with
            a dirt parking lot on the main thoroughfare out of town.) I told him I was not here on vacation (this was a gritty little tourist town
            back then), but hastily summed up my quest for sunrises, sunsets, nature and what was for sure to be
            the grandest adventure of my life as "I just moved to town today." He asked where I was working. "I am looking."
            Without so much as a pause, Russ directed me to the local newspaper where the editor was looking for a reporter - my three word
            resume of "I am looking," evidently indicating experience and aptitude for newspaper work.
        </p>

        <p>
            I interviewed with the editor two days later and began working the following week. Here is the article I wrote about a dead man:
            <i>Link to a soon to be active website.</i>
        </p>
    </div>

    <div>
        <p>
            >
            <h2 style="color:darkslateblue">Developer</h2>
            <h5 style="color:darkslateblue">
                <i>
                    “If you can write "hello world" you can change the world.”
                    ― Raghu Venkatesh
                </i>
            </h5>
        </p>

        <p>
            I am a C#/.NET Software Developer. Much like my foray into journalism, so wended the path that took me into development.
            In short, I declared a 'career bankruptcy' leaving the world of corporate events management in the rearview mirror to write code.
        </p>
    </div>

    <div>
        <p>
            <a href="https://www.romi.gov/">
                <h2 style="color:darkslateblue">Hometown</h2>
            </a>
            <h5 style="color:darkslateblue">
                <i>
                    “Home is where my habits have a habitat” ― Fiona Apple
                </i>
            </h5>
        </p>
        
        <p>
            <ul>
                <li>Royal Oak</li>
                <li>Michigan</li>
                <li>USA</li>
            </ul>
        </p>
    </div>

</body>
</html>











