@{
    ViewData["Title"] = "Portfolio";
}

<!-- link to CSS file, so DOM knows where to look-->

<link href="~/css/IndexStyleSheet.css" rel="stylesheet" />

<div class="header">
    <h1 style="color:lawngreen">Portfolio</h1>
</div>
<style>
    body {
        background-color: #74afb8;
    }

    p {
        background-color: #93B874;
    }
</style>
<div id="maindiv">
    <p>
        <h4> <a href="https://github.com/gasoltis">My Github Link</a></h4>
    </p>
</div>