@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-color: #808080;
    }

    p {
        background-color: #808080;
    }
</style>

<p>Don't be nosy or gossipy.</p>
